.header_link a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: white; }

.header_link a:hover {
  color: LightGray;
  text-decoration: none; }

.btn_class {
  width: 100px;
  border-radius: 20px; }

.header_mobile {
  display: none; }

#exampleInputName {
  background-image: url("https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 22px;
  outline: none;
  border-radius: 5px;
  height: 50px; }

.search__input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 2px solid silver; }

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px; }

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 30px;
  -webkit-transition: width 0.4s linear;
  -o-transition: width 0.4s linear;
  transition: width 0.4s linear; }

.searchbar:hover .search_input {
  padding: 0 10px;
  width: 300px;
  max-width: 50%;
  -webkit-transition: width 0.4s linear;
  -o-transition: width 0.4s linear;
  transition: width 0.4s linear; }

.searchbar:hover .search_icon {
  background: white;
  color: #696969; }

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: white; }

.fa-home:before {
  padding-right: 5px; }

.search {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding-left: 5px;
  border: 3px solid silver;
  border-radius: 25px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: text; }

input {
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: white;
  padding-bottom: 10px;
  background: transparent;
  outline-width: 0px; }

.inpt_search {
  width: 100px;
  height: 30px;
  border: 0px;
  border-bottom: 2px solid silver;
  background-color: #0e1823;
  color: white; }

.header_mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; }

@media screen and (max-width: 768px) {
  .header_md {
    display: none; }
  .header_mobile {
    display: block; }
  .all {
    margin-top: 100px; } }

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 auto; }

.top {
  margin-top: 50px; }

.col-md-11 {
  text-align: justify; }
  .col-md-11 img {
    width: 100%;
    max-width: 100%;
    height: 450px;
    margin-bottom: 50px; }
  .col-md-11 .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 12px; }

@media screen and (max-width: 370px) {
  .share {
    max-width: 100%; }
    .share .logo {
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .share .logo img {
        width: 70px;
        max-width: 100%;
        height: 65px; }
  .article {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
    .article img {
      max-width: 100%;
      height: 200px; }
  .comments {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .sbuttons {
    display: none; } }

.thumbnail {
  padding: 0px; }

.panel {
  position: relative; }

.panel > .panel-heading:after, .panel > .panel-heading:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none; }

.panel > .panel-heading:after {
  border-width: 7px;
  border-right-color: #f7f7f7;
  margin-top: 1px;
  margin-left: 2px; }

.panel > .panel-heading:before {
  border-right-color: #ddd;
  border-width: 8px; }

.comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .comm img {
    width: 40px;
    height: 40px; }

@media screen and (max-width: 768px) {
  .col-md-10 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-left: 0; } }

.col-md-10 {
  margin-left: 70px; }

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc; }

.tip-left {
  top: 10px;
  left: -22px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent; }

.dialogbox .body {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid #ccc; }

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979; }

.col-md-8 h4 {
  border-bottom: 3px solid black; }

#user_comments {
  margin-top: 30px; }
  #user_comments img {
    width: 50px;
    height: 50px;
    margin: 20px 3px 0 0; }

.butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.box {
  border: 1px solid silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 249px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px; }
  .box .box1 {
    border-right: 1px solid silver;
    width: 80px;
    padding-left: 9px; }
    .box .box1 i:hover {
      color: silver; }
    .box .box1 i {
      font-size: 30px;
      color: darkblue; }
  .box .box2 {
    border-right: 1px solid silver;
    width: 80px;
    padding-left: 9px; }
    .box .box2 i:hover {
      color: silver; }
    .box .box2 i {
      font-size: 30px;
      color: darkblue; }
  .box .box3 {
    width: 80px;
    padding-left: 9px; }
    .box .box3 i:hover {
      color: silver; }
    .box .box3 i {
      font-size: 30px;
      color: darkblue; }

.list-inline-item a {
  color: #353b48; }

.list-inline-item a:hover {
  color: #007bff; }

.like_button button {
  border-radius: 50%;
  background: ligth; }
  .like_button button i:hover {
    color: blue; }

.logo {
  position: fixed;
  z-index: 1;
  margin: 50px 0 0 20px; }

small {
  color: darkgrey; }
  small .time {
    border-top: 2px darkgrey solid; }
  small .category {
    border-bottom: 1px darkgrey;
    margin-bottom: 5px; }

.similar {
  display: block;
  margin-top: 130px;
  margin-right: 30px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .similar .news {
    width: 200px;
    height: 300px; }
    .similar .news img {
      width: 200px;
      height: 150px;
      max-width: 100%; }

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

@media screen and (max-width: 850px) {
  .all {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .all .similar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 100%; }
      .all .similar .news {
        padding-left: 5px; } }

@media screen and (max-width: 640px) {
  .similar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px; } }

.logo {
  margin-left: -1px;
  display: block;
  margin-top: 150px; }
  .logo img {
    padding: 5px 0 0 0;
    width: 40px;
    height: 45px;
    max-width: 100%; }

body {
  margin-top: 20px;
  background: #FDFDFD; }

@media (min-width: 0) {
  .g-mr-15 {
    margin-right: 1.07143rem !important; } }

@media (min-width: 0) {
  .g-mt-3 {
    margin-top: 0.21429rem !important; } }

.g-height-50 {
  height: 50px; }

.g-width-50 {
  width: 50px !important; }

@media (min-width: 0) {
  .g-pa-30 {
    padding: 2.14286rem !important; } }

.g-bg-secondary {
  background-color: #fafafa !important; }

.u-shadow-v18 {
  -webkit-box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15); }

.g-color-gray-dark-v4 {
  color: #777 !important; }

.g-font-size-12 {
  font-size: 0.85714rem !important; }

.media-comment {
  margin-top: 20px; }
