.header_link a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.header_link a:hover 
{
    color: LightGray;
}
.nav-link {
    .btn_class 
{
    width: 100px;
    border-radius: 20px;
}
}
.header_mobile {
    display: none; 
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}
    

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 30px;
    transition: width 0.4s linear;
    }

.searchbar:hover  .search_input{
    padding: 0 10px;
    width: 300px;
    max-width: 50%;
    transition: width 0.4s linear;
}
    

.searchbar:hover  .search_icon{
    color: 	#696969;
    background: white;
}
.search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.header_mobile {
    display: none  ;  
}
@media screen and (max-width: 768px) {
    .header_md {
        display: none
    }
    .header_mobile 
    {
        display: block
    }
    
}


.div_categories-comment-like ul
{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.categories-comment-like_title
{
    color: #505050;
}
.categories-comment-like-item{

    padding-bottom: 45px;
}
.div_categories-comment-like li
{
    font-size: 13px;
}
.categor-comment-like_item a:hover
{
    color: #007bff;
    text-decoration: none;
}
    
.cat_count{
    float: right;
    font-weight: 700;
    background-color: #f3f3f3;
    color: #9a9a9a;
    border-radius: 50px;
    padding: 0 8px;
}
.categor-comment-like_item{
    padding-bottom: 15px;
    padding-top: 5px;
    border-bottom: 1px solid #e3e3e3;
    font-size: 15px;
    
}
.categor-comment-like_item a
{
    text-decoration: none;
    color: #888;
    font-weight: 500;
}
.col-pad{
    padding-bottom: 25px;
}



ul.page-numbers{
    display: table;
    list-style: none;
    background-color: #f4f4f4;
    padding: 5px 4px;
    border-radius: 30px;
    border-width: 0;
    li{
        display: block;
        float: left;
        margin: 0 2px;
        text-align: center;
    }
}

ul.page-numbers{ .current{
    color: #fff;
    background-color: #353b48;
    border-radius: 30px;
}
}
ul.page-numbers .current:hover{
    background-color: #007bff;}
ul.page-numbers a{
    text-decoration: none;
    color: #353b48;
}
ul.page-numbers a:hover{
    color: #007bff;
}
ul.page-numbers .current {
    font-weight: 700;

}
ul.page-numbers a, ul.page-numbers span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    cursor: pointer;
    padding: 0;
}
.sh-pagination{
    padding-bottom: 20px;}
.list-inline-item a{
    color: #353b48;}
.list-inline-item a:hover {
    color: #007bff;
} 
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;}
.sticky + .content {
    padding-top: 102px;}
    



  

