body {
    padding-top: 5em;
    }
    .all{
        display: flex;
        justify-content:center;
        h3{
            text-align: center;
        }
        .but{
            display: flex;
            justify-content: center;
            padding: 0 0 20px 0;
        }
    }
   